  
    #index_frame{
        width: 100%;
        height: 1000;
        justify-items: center;
        align-items: center;
        background-color: transparent;
    }

    /*Index Page navigator*/

    
    .page_navigator{
        position:relative;
        display: flex;
        flex-direction: row;
        background-color: transparent;
        border-radius: 15px;
        align-items: center;    
        justify-content: space-between; 
        padding-bottom: 30px;
        height: 100px;    
        margin-left: 35px;
        margin-top: 20px;

    }

    .page_navigator>a{
        color: black;
        filter: drop-shadow(3px 3px 5px rgb(0, 59, 98));
        transition: 0.3s
    }

    .page_navigator>a:hover{
        color: white;
        filter: drop-shadow(3px 3px 5px rgb(0, 59, 98));
        transition: 0.3s
    }

    .page_site-name{
        margin: 0px;
        margin-left: 25px;   

        /*font family 적용*/
        font-family: "Noto Sans", sans-serif;
        font-size: 45px;
        color: black;
    }

    .page_name-archive{
        /*font family 적용*/
        font-family: "Noto Sans", sans-serif;
        font-size: 30px;
        color: rgb(0, 72, 167);
    }   

    .nav_list{
        display: inline-block;
        margin:0;     
        padding:7px 11px; 
    }

    .i_nav_menu{
        font-family: "Montserrat", sans-serif;
        font-weight: 540;
        font-size: 23px;
        margin-top:100px;
        margin-right: 70px;
        margin-left: 15px;   
        text-shadow: 1.3px 1.3px 1.3px gray; 
    }

    /*body container*/
    .container{
        height : 800px;
        background-color: rgb(255, 255, 255);
    }

    .container2{
        height: 400vh;
        background-color: rgb(169, 0, 0);
        opacity: 0.1;
    }


    /*My Portfolio page 와 My Open-APIs page*/
    #index_select{
        margin-top:80px;
        display: flex;
        flex-direction: row;

        /*outline: dashed 1px black;*/
        justify-content: center;
        align-items: center;
        
    }
    
    
    #portfolio_img, #port_text{
        position: relative;
        margin-right: 123px;
    }

    #openapi_img, #api_text{
        position: relative;
        margin-left: 123px;
    }

    #port_text, #api_text{
        font-size: 30px;
        margin-top: 20px;
        font-family: "Montserrat", sans-serif;
    }
    

    #portfolio:hover> #port_text{
        color: rgb(0, 70, 128);
        transition: all 1.3s ease;
        font-family: "Montserrat", sans-serif;
        font-size: 33px;

    }
    #api:hover > #api_text{
        color: rgb(106, 0, 0);
        transition: all 1.3s ease;
        font-family: "Montserrat", sans-serif;
        font-size: 33px;
    }


    #portfolio, #api{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #line{
        border-left : solid #444444;
        height : 500px;
    }

    
    .background-image {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 600px;
        aspect-ratio: 20 / 9; /* 화면 높이 100% : 원래는 height: 700px 이었음*/ 
        background-image: url('../assets/images/backImage/dark-backgoround.png'); /* 실제 이미지 파일의 경로로 바꾸세요 */
        background-size: cover; /* 이미지를 컨테이너에 맞게 조절합니다. */
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        pointer-events: none; 
        opacity: 1.0;
        
    }

    .gray-color{
        position: absolute;
        width: 70%;                 /* 폭은 70% */
        height: 100%;               /* 높이는 background-image와 동일 */
        top: 0;
        left: 0;
        background: linear-gradient(to right, rgba(0,0,0,0.3) 5%, rgb(120,120,120) 90%);
        opacity: 0.7;
        animation: scrollIn 4.5s ease-in-out;
    }


    #openapi{
        animation-duration: 12s;
        animation-name: rotate;
        animation-timing-function:ease-in-out;
        animation-iteration-count: infinite;
    }

    #api_img_text{
        position: absolute;
        margin-left: 120px;
        margin-bottom: 60px;
    }

    /*check image와 row로 나열하기 위함*/
    #portfolio-cover-img{
        display: flex;
        flex-direction: row;
    }

    /*하나를 그 위의 tag로부터 움직이기 위해서는 그 위의 tag를 relative로 박아주고 시작해야함.*/
    #portfolio_check{
        position: absolute;
        width: 50px;
        height: 50px;
        bottom: 160px;
        left: 220px;
        animation: slideInDiagonal 3s infinite;   
        animation-timing-function:ease-out;

    }

    /*위의 미지들에 대한 미디어 쿼리 추가*/
    @media screen and (max-width: 1030px){

        #portfolio_img, #port_text{
            margin-right: 60px;
        }
    
        #openapi_img, #api_text{
            margin-left: 60px;
        }

        #api_img_text{
            margin-left: 57px;
            margin-bottom: 60px;
        }
    }


    @keyframes rotate {
        from {
            -webkit-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @keyframes slideInDiagonal {
        0% {
            transform: translate(100%, 100%);
        }
        40% {
            transform: translate(0, 0);
        }
    }

    @keyframes scrollIn {
        0% {
            /* transform: translate(0%, 0); */
            width: 0;
        }
        15%{
            width: 0;
        }
        80% {
            /* transform: translate(80%, 0); */
            width: 70%;
        }
        
        100%{
            width: 70%;
        }
    }



    /*Typing effect*/
    .wrapper {
        margin-top: 80px;
        height: 10vh;
        /*This part is important for centering*/
        display: grid;
        place-items: center;
    }

    .typing-demo {
        font-size: 2.3em;
        /* font-family: monospace; */
        border-right: 2px solid;
        white-space: nowrap;
        overflow: hidden;
    }


    @keyframes typing {
        from {
            width: 0
        }
    }
        
    @keyframes blink {
        50% {
            border-color: transparent
        }
    }


    /*arrow effect*/
    .arrow-down span{
        display: block;
        align-self: center;
        width: 3em;
        height: 3em;
        border-bottom: 2px solid #000000;
        border-right: 2px solid #000000;
        transform: rotate(45deg);
        margin: -10px;
        animation: animate-arrows 1.7s infinite;
        pointer-events: cursor;
    }


    .arrow-down{
        display: flex; /*display 설정 하지 않으면 align이 먹질 않는다*/
        margin-top: 100px;
        justify-content: center;
        align-items: center;
    }

    .arrow-down.visible {
        opacity: 1;
        pointer-events: auto;
    }



    @keyframes animate-arrows{
        0%{
            opacity: 0;
            transform: rotate(45deg) translate(-1.5em, -1.5em);
        }
        50%{
            opacity: 1;
        }
        100%{
            opacity: 0;
            transform: rotate(45deg) translate(1.5em, 1.5em);
        }
    }   


    .arrow-down span:nth-child(1){
        animation-delay: -0.2s;
    }
    .arrow-down span:nth-child(2){
        animation-delay: -0.4s;
    }
    .arrow-down span:nth-child(3){
        animation-delay: -0.6s;
    }
    

    /*Hover box*/
    .imgHoverEvent{
        width: 100%; 
        height: 100%; 
        margin-top: 45px;
        /* margin: 30px;  */
        position: relative; 
        overflow: hidden; 
        display: inline-block;
    }

    .imgHoverEvent .imgBox{
        width: 100%;
        height: 100%;
        text-align: center;
        background-size: auto 100%;
    }

    .imgHoverEvent .hoverBox{
        position: absolute; 
        top:0; 
        left: 0; 
        width: 100%; 
        height: 100%;
        overflow-y: scroll;
    }

    .event1 .hoverBox {
        background: linear-gradient(to bottom, rgba(0,0,0,0) 5%,rgb(120, 120, 120) 90%); 
        transform: translateY(100%); 
        transition: 1s;
    }

    .event1:hover .hoverBox {
        transform: translateY(0);
    }

    .event1.active .hoverBox {
        transform: translateY(0);
    }

    /* ----------------------- Banner ----------------------- */
    .vision-banner{
        position: absolute;
        margin-left: 5%;
        margin-top: 3%;
    }
    
    .vision{
        color: rgb(255, 255, 255);
        animation-name: scrollInText;
        animation-timing-function:ease-in-out;
        animation-duration: 4.5s;
    }

    .summary{
        color: rgb(255, 255, 255);
        animation-name: scrollInText;
        animation-timing-function:ease-in-out;
        animation-duration: 4.5s;
        font-family: "Noto Sans KR", sans-serif;
        font-weight: 200; /*bold*/
        font-size: 16px;
        font-style: italic;
    }

    /*글씨 나오는 Animation*/
    @keyframes scrollInText {
        0% {
            /* transform: translate(0%, 0); */
            opacity: 0;
        }
        43%{
            opacity: 0;
        }
        100% {
            /* transform: translate(80%, 0); */
            opacity: 1;
        }
    }

    /*===== Reactive =====*/
    @media (max-width: 1030px) {
        .vision-banner{
            position: absolute;
            margin-left: 5%;
            margin-top: 8%;
        }

        .gray-color{
            width: 87%;
            background: linear-gradient(to right, rgba(77, 77, 77, 0.5) 5%, rgb(120, 120, 120) 100%);
            animation-timing-function:ease-in-out;
            animation-duration: 3.5s;
        }
    

        @keyframes scrollIn {
            0% {
                /* transform: translate(0%, 0); */
                width: 0;
            }
            15%{
                width: 0;
            }
            80% {
                /* transform: translate(80%, 0); */
                width: 87%;
            }
        
        }
    }