/*P7--------------------------- School project part ---------------------------*/
/*(2016-2) Environmental monitoring & experiment */

.EnvMon_design{
    display: block;
    margin-left: 30px;
    margin-bottom: 20px;
    align-items: flex-start;
}

.EnvMon_class_total{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;    
    margin-bottom: 40px;

}


.EnvMon_class{
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-left:20px;
    margin-right:20px;
}


#EnvMon_img{
    width: 330px;
    height: 240px;
}

#Envgraph_img{
    width: 650px;
    height: 400px;
}

.EnvMon_sub{
    text-align: center; /*text는 text-align*/
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    margin: 0;
    margin-right: 24px;
    margin-top: 20px;
}

.description_EnvMon{
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-left: 20px;
    line-height: 24px; 
    margin-bottom:300px;
    text-align: justify;
}







/*Data analysis (2017-1)*/

.Data_analysis-title{
    display: block;
    margin-left: 30px;
    margin-bottom: 20px;
    align-items: flex-start;
}

.data_analysis{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;    
    margin-bottom: 40px;

}


.data_class{
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-left:20px;
    margin-right:20px;
}


#data_img{
    width: 500px;
    height: 230px;
}

#clustering_img{
    width: 450px;
    height: 270px;
}


.data_sub{
    text-align: center; /*text는 text-align*/
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    margin: 0;
    margin-right: 24px;
    margin-top: 20px;
}

.description_data{
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-left: 20px;
    line-height: 24px; 
    margin-bottom:300px;
    text-align: justify;
}



/*(2018-1) Machine design (1)*/
.MD1_design{
    display: block;
    margin-left: 30px;
    margin-bottom: 20px;
    align-items: flex-start;
}

.MD1_class_total{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;    
    margin-bottom: 40px;

}


.MD1_class{
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-left:20px;
    margin-right:20px;
    margin-top:25px;
}


#MD1_img{
    width: 380px;
    height: 280px;
}

.MD1_sub{
    text-align: center; /*text는 text-align*/
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    margin: 0;
    margin-right: 0px;
    margin-top: 20px;
}

.MD1_sub1{
    text-align: center; /*text는 text-align*/
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    margin: 0;
    margin-right: 0px;
    margin-top: 0px; 
}


.description_MD1{
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-left: 20px;
    line-height: 24px; 
    margin-bottom:300px;
    margin-top:50px;
    text-align: justify;
}







/*(2018-2) Autonomous control*/

.System_control_title{
    display: block;
    margin-left: 30px;
    margin-bottom: 20px;
    align-items: flex-start;
}


.System-control-video{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;    
    margin-bottom: 40px;
}


.system_class{
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-left:10px;
    margin-right:10px;
}


#system_img{
    width: 500px;
    height: 350px;
}


.system_sub{
    text-align: center; /*text는 text-align*/
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    margin: 0;
    margin-right: 24px;
    margin-top: 20px;
}

.descirption_system{
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-left: 20px;
    line-height: 24px; 
    margin-bottom:300px;
}

.down_report{
    color: dimgrey;
    text-decoration: none;
}

.down_report:hover{
    color: var(--accent-2) ;
    transition: 0.5s
}

@media screen and (max-width: 1030px){
    .System-control-video{
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;    
        margin-bottom: 40px;
    }
}

/*(2019-1) Computer aided design */

.CAD_design{
    display: block;
    margin-left: 30px;
    margin-bottom: 20px;
    align-items: flex-start;
}

.CAD_class_total{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;    
    margin-bottom: 40px;

}


.CAD_class{
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-left:20px;
    margin-right:20px;
}


#CAD_img{
    width: 350px;
    height: 300px;
}

#draw_img{
    width: 650px;
    height: 400px;
}

.CAD_sub{
    text-align: center; /*text는 text-align*/
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    margin: 0;
    margin-right: 24px;
    margin-top: 20px;
}

.description_CAD{
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-left: 20px;
    line-height: 24px; 
    margin-bottom:300px;
    text-align: justify;
}




/*(2019-1) Robust design */

.Robust_design{
    display: block;
    margin-left: 30px;
    margin-bottom: 20px;
    align-items: flex-start;
}

.Robust_class_total{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;    
    margin-bottom: 40px;

}


.robust_class{
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-left:20px;
    margin-right:20px;
    margin-top:25px;
}


#robust_img{
    width: 380px;
    height: 280px;
}


#optimized_img{
    width: 600px;
    height: 300px;
}


.robust_sub{
    text-align: center; /*text는 text-align*/
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    margin: 0;
    margin-right: 50px;
    margin-top: 20px;
}

.description_thesis{
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-left: 20px;
    line-height: 24px; 
    margin-bottom:300px;
    text-align: justify;
}





/*(2019-1) Fine dust forecasting*/

.Thesis-title{
    display: block;
    margin-left: 30px;
    margin-bottom: 20px;
    align-items: flex-start;
}

.data_analysis{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;    
    margin-bottom: 40px;

}


.thesis_class{
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-left:20px;
    margin-right:20px;
}


#schematic_img{
    width: 1000px;
    height: 1400px;
}


.thesis_sub{
    text-align: center; /*text는 text-align*/
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    margin: 0;
    margin-top: 20px;
    margin-left:23px;
}

.description_thesis{
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-left: 20px;
    line-height: 24px; 
    margin-bottom:300px;
    text-align: justify;
}

@media screen and (max-width: 1030px){
    .data_analysis{
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;    
        margin-bottom: 40px;
    }

    .thesis_class{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}


/*Mechanical system control (2019-2)*/

.Mec_design{
    display: block;
    margin-left: 30px;
    margin-bottom: 20px;
    align-items: flex-start;
}

.Mec_class_total{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;    
    margin-bottom: 70px;

}

.Mec_class_total2{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;    
    margin-bottom: 10px;
}


.Mec_class{
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-left:20px;
    margin-right:20px;
}


#Mec_img{
    width: 380px;
    height: 300px;
}

#circuit_img{
    width: 650px;
    height: 400px;
}

#prod_img{
    width: 250px;
    height: 200px;

}

.Mec_sub{
    text-align: center; /*text는 text-align*/
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    margin: 0;
    margin-right: 24px;
    margin-top: 20px;
}

.description_Mec{
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-left: 20px;
    line-height: 24px; 
    margin-bottom:300px;
    margin-top:50px;
    text-align: justify;
}








/*(2019-2) Do Dream Graduation project*/

.Graduation_design{
    display: block;
    margin-left: 30px;
    margin-bottom: 20px;
    align-items: flex-start;
}

.Graduation_class_total{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
    margin-bottom: 40px;

}

.poster{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;    
    margin-bottom: 40px;
}

.Graduation_class{
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-left:20px;
    margin-right:20px;
}

#logo_img{
    width: 200px;
    height: 50px;
    margin-bottom:30px;
    margin-top:50px;
}



#grad_poster_img{
    width: 450px;
    height: 650px;
}


.description_grad{
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-left: 20px;
    line-height: 24px; 
    margin-bottom:50px;
    text-align: justify;
}

.Graduation_video{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    margin-bottom:70px;
}

.Grad_video_sub{
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
}

.My_title{
    margin-left: 200px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800px;
}

.Light_class{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    margin-top: 0px;

}

#Light_id{
    width: 340px;
    height: 230px;
    margin:30px;

}


.Light_sub{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 600px;
    text-align:center;    
    margin-bottom:30px;
    margin-top:0;
}



.Sound_class{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    margin-top: 0px;

}

#Sound_id{
    width: 340px;
    height: 230px;
    margin-left: 55px;

}


.Sound_sub{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 600px;
    text-align:center;    
    margin-bottom:80px;
    margin-top:30px;
}

.Grad_description{
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-left: 20px;
    line-height: 24px; 
    margin-bottom:150px;
    text-align: justify;
}

/* Time line */






/*(2020-1) Basic of CFD Project*/

.description_mid{
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 24px; 
    margin-bottom: 20px;
    text-align: justify;
}

.description_2D-cavity{
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-bottom: 80px;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 24px; 
    text-align: justify;
}

.eqn{
    padding: 0px;
}


/* Time line */


/*(2021-1) Dynamic Time Warping Project*/
.DTW_class{
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-left:20px;
    margin-right:20px;
    margin-bottom: 20px;
}
.DTW_img{
    display: inline-block;
    width: 800px;
    height: 500px;
}



/* Time line */