/*-------------------  Under courses ----------------------*/
.Course{
    margin-top:70px;
}

.Course-title{    
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    margin-top:0px;
    margin-bottom:20px;}


.Under-class{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width:91%;
    
    margin:0;
    
}

ul.course-list{
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
}

li{
    margin-bottom:10px;
}


/*-------------------  Env-courses ----------------------*/
.Env-courses{
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    margin-left: 20px;
    margin-right:20px;
    margin-bottom: 30px;
    line-height: 25px;
}

/*-------------------  Mech-courses ----------------------*/
.Mech-courses{
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    margin-left: 20px;
    margin-right:20px;
    margin-bottom: 30px;
    line-height: 25px;
}


/*-------------------  GPA Info ----------------------*/
.env-gpa{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    margin-top: 55px;
    line-height: 25px;
    width:100%
}

.mecha-gpa{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    margin-top:55px;
    line-height: 25px;
    width:100%
}

.down_list{
    color: var(--accent);
    margin-top:30px;
    margin-left:0px;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;   
}

.down_list:hover{
    color: black;
    transition: 0.5s

}



/*------------------- Graduated courses ----------------------*/

.grad-gpa{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 100px;
    line-height: 25px;
}

@media screen and (max-width: 1030px){

    .Course{
        margin-top:50px;
    }

    .Under-class{

        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }

}