
/*P6--------------------------- Research part ---------------------------*/

/*CFD Simulation*/

/*3-D lid-driven*/
.Three-D-title{
    display: block;
    margin-left: 30px;
    margin-bottom: 20px;
    align-items: flex-start;
}

/*숫자가 앞에 올 수는 없다 CLASS 이름*/

.Three-Cavity-video{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;    
    margin-bottom: 35px;
    /*justify-content: space-between; */
}


#Three_id_gif{
    width: 360px;
    height: 330px;
}

.descirption_3D-cavity{
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-bottom: 80px;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 24px; 
}

.Three_id{
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.u-3d{
    text-align: center; /*text는 text-align*/
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    margin: 0;
    margin-right: 24px;
}


/*2-D lid-driven*/
.Two-D-title{
    display: block;
    margin-left: 30px;
    margin-bottom: 20px;
    align-items: flex-start;
}

/*숫자가 앞에 올 수는 없다 CLASS 이름*/

.Two-Cavity-video{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;    
    margin-bottom: 40px;
}


.Two_id{
    display: flex;
    flex-direction: column;
    align-items: center;  
}


.u-2d{
    text-align: center; /*text는 text-align*/
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    margin: 0;
    margin-right: 24px;
}

.descirption_2D-high-cavity{
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 24px; 
}


#vor_gif{
    width: 360px;
    height: 330px;
}

/*CFD Control*/

/*TD3-burgers*/
.Burgers{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;    
    margin-bottom: 15px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.DRL-title{
    margin-left:20px;
}

.Control-div{
    margin-right:10px;
    margin-left:10px;
    margin-bottom: 20px;
}

#burgers{
    width: 360px;
    height: 330px;
}

.burgers_cap{
    text-align: center; /*text는 text-align*/
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    margin: 0;
}

.TD3_cap{
    text-align: center; /*text는 text-align*/
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    margin: 0;
}

.PPO_cap{
    text-align: center; /*text는 text-align*/
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    margin: 0;
}

.burgers-description{
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    line-height: 24px; 
}

/*Turbulence control*/
.Turb_con{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;    
    margin-bottom: 15px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.DRL-title{
    margin-left:20px;
}

.Control-div{
    margin-right:10px;
    margin-left:10px;
    margin-bottom: 20px;
}

#Turb_con_CNN{
    width: 700px;
    height: 480px;
}

#Turb_con_shear{
    width: 460px;
    height: 360px;
    border-radius: 30%;
}

.Turb_con_cap{
    text-align: center; /*text는 text-align*/
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    margin: 0;
}



.Turb_con-description{
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 24px; 
}

.conf_tur{
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 24px; 
}

.Link_tur{
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    margin:0;
    text-align: center; 
    width: 100%;
    margin-top: 35px;
    margin-bottom: 0px;
}

.bottom{
    margin-bottom: 200px;
}

.conf_tur:hover{
    color: var(--accent-2);
    filter: drop-shadow(3px 3px 5px rgb(0, 59, 98));
    transition: 0.3s
}


/*Time Prediction*/

.Window-title{
    margin-left:20px;
}

.Forecasting-image{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
}

.NN-model-img{
    width: 1000px;
    height: 250px;    
    margin-top:10px;
    margin-bottom:10px;

}

.prediction-description{
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-left: 20px;
    line-height: 24px; 
    margin-bottom:50px;
}

@media screen and (max-width: 1030px){
    .descirption_3D-cavity, .burgers-description, .prediction-description{
        margin-left:0;
        margin-right:0;
    }

    #Three_id_gif, #vor_gif, #burgers{
        width:310px;
        height:280px;
    }

    .Turb_con{
        display: flex;
        flex-direction: column;
    }
    
}