


/*P5--------------------------- Profile-section ---------------------------*/
.profile-section{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top:0px;
    margin: 100px 100px;

}

#profile-picture{
    width: 400px;
    height: 570px;
    margin-right: 60px;
    border-radius: 15px;
    object-fit: cover;
}


.About_me{
    font-family: "sans-serif, Montserrat";
    font-size: 26px;
    font-weight: 1500px;
    margin:0;

}

.Personal-info{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    margin-left: 20px;
    line-height: 30px;
    margin-bottom: 0;
}

.Interests{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    margin-left: 20px;
    line-height: 30px;    
    margin-bottom: 40px;
    margin-top:0;
}


.Introduction>h2{
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    margin: 0px;
}

.major{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    /*font-style: italic;*/

    line-height: 30px; /*줄간격*/
    margin-left: 20px;
}

.gpa{
    color: var(--accent);
    margin-top:30px;
    margin-left:30px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;   
}

.gpa:hover{
    color: black;
    transition: 0.5s

}
/*Box here*/
.For_center_CV{
    display: flex;
    justify-content: center;
    margin-right: 55px;

}

.Resmue-title{    
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    margin-top:20px;
    margin-bottom:20px;}
    /*    display: flex;
    flex-direction: row;
    align-items: left;   
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    margin-left: 20px;
    margin-bottom: 100px;*/

/*----------- Education-title --------------*/
.Education-section{
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    margin-left: 20px;
    margin-bottom: 35px;
    line-height: 25px;
}

.school{
    font-family: "sans-serif";
    font-size: 19px;
    font-weight: 1000px;
    color:rgb(33, 0, 164);
    margin-bottom:3.5px;
}

#army{
    font-family: "sans-serif";
    font-size: 18px;
    font-weight: 500px;
    color: var(--accent);
}

/*------------ Activites ---------------*/

.Resume-activity{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 800px;
    text-align: left;
    color: rgb(0, 0, 0);
    margin-left: 20px;
}

.Resume-activity:hover{
    color: var(--accent-2);
    transition: 0.5s
}

.activities{
    margin-bottom:30px;
}



/*----------- Capability --------------*/
.Capability{
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    line-height: 28px; /*줄간격*/
    margin-left: 20px;
    margin-bottom: 60px;
}

.Cap-sub{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    margin-bottom: 0px;
    font-weight: 700;
    margin-top:0;
}

.LanguageTypes{
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    margin-bottom: 10px;
    font-weight: 550;
    margin-top:0px;
    margin-left: 10px;
}


.logo{
    margin-left: 25px;
    margin-right: 25px;
    height: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.git-logo-list{
    list-style:none;
    margin-top: 20px;
}

.git_menu{
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    margin-left: 230px;    
}

.git_menu:hover{
    color: var(--accent-2);
    transition: 0.5s
}

.Awards{
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    margin-left: 20px;
    margin-bottom: 60px;
}

.Orga_menu{
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-top: 20px;  
    margin-left: 20px;   
    font-weight: 30px; 
}

.refer_paper{
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

.refer_paper:hover{
    color: var(--accent-2);
    transition: 0.5s
}

.Orga_menu:hover{
    color: var(--accent-2);
    transition: 0.5s
}

/*--------- Certificate -----------*/
.certificate{
    display: flex;
    flex-direction: row;
    align-items: left;   
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    margin-left: 20px;
    margin-bottom: 100px;
}

#kdataImg{
    margin-left: 0px;
}

.Certificate_img{
    display: flex;
    flex-direction: column;
    margin-top: 10px;

}

.certificate_cluster{
    display:flex;
    flex-direction: column;
    justify-items: center;
    vertical-align: middle;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    margin-left: 30px;
    margin-top: 20px;
}

.certificate_element{
    display: flex;
    vertical-align:middle;
    line-height: 20px;
}

/*------- Company - Careers ---------*/
.careers{
    display: flex;
    flex-direction: row;
    align-items: left;   
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.Company_img{
    display: flex;
    justify-content: center;
    width:150; 
    height:100;
   
}

.Career_element{
    margin-left: 20px;
}

.fromdate{
    font-size: 15px;
    color: rgb(27, 0, 117);
}

.fromdate:hover{
    font-size: 15px;
    color: rgb(27, 0, 117);
}

.Company_title{
    font-size: 20px;
    font-weight: 500;
    width:100%;
}

.Compoany_title:hover{
    color:rgb(94, 4, 79);
    transition: 1.0;
}

.Company_role{
    font-size: 18px;
    font-weight: 350;
}

.Company_project{
    font-size: 18px;
    font-weight: 350;  
}

#apiGwPj{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;

    color: var(--accent);
    font-weight: 400px; 
}

.project_sttus{
    font-size: 15px;
    font-weight: 350;   
}

.project_sttus:hover{
    font-size: 15px;
    color: rgb(27, 0, 117);
}

/*------- Reactive Response ---------*/
@media screen and (max-width: 1030px){

    .profile-section{
        margin: 0px 0px;
        margin-top: 50px;
    }
    #profile-picture{
        width: 270px;
        height: 380px;
        margin-right: 40px;
        border-radius: 15px;
        margin-top: 50px;
    }

    .About_me{
        font-size: 20px;
    }

    .Personal-info{
        font-size: 15px;
        margin-left: 20px;
        line-height: 30px;
        margin-bottom: 0;
    }
    
    .Interests{
        font-size: 15px;
        margin-left: 20px;
        line-height: 30px;    
        margin-bottom: 40px;
        margin-top:0;
    }

    .major{
        font-size: 15px;
    }

    .gpa{
        font-size: 15px;
    }

    .certificate_element{
        font-size: 15px;   
        line-height: 20px;
    }

    #kdataImg{
        font-size: 13px;
        text-align: center;
    }
}